body {
	line-height: 1.6;
	-webkit-text-size-adjust: none;
}
a {
	display: inline-block;
	padding-top: .5em;
	padding-bottom: .5em;
	-webkit-tap-highlight-color:rgba(255,0,0,0.40);
}
a + a {
	padding-left: .5em;
}
table,tr,td,input {
	max-width: 100% !important;
}
textarea {
	/*height: auto !important;*/
	min-width: 60% !important;
	max-width: 100% !important;
	max-height: none !important;
}
/*textarea:focus, textarea:hover {
	min-height: 15em !important;
}*/
img {
	max-width: 100% !important;
	height: auto !important;
}
div,ul,li {
	margin-left:0 !important;
}
.image_button_base {
	width: 90% !important;
}
.image_button_base img {
	zoom: 2; !important;
	padding: 3px !important;
}
.image_button_base img.img_zoom4 {
	zoom: 4; !important;
}
.image_button_base span.button {
	font-size: 14pt !important;
	display: inline-block !important;
}


.video {
	display: block;
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.video embed,
.video object,
.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
video {
	max-width: 100%;
	height: auto;
}
