body {
	line-height: 1.6;
}
a {
	padding: .5em;
	line-height: 2.0;
	-webkit-tap-highlight-color:rgba(255,0,0,0.40);
}
textarea {
	height: 5em;
	width: 95%;
}
textarea:focus,
textarea:hover {
	height: 12em;
}
